apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-test2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: argocd-test2
  template:
    metadata:
      labels:
        app: argocd-test2
    spec:
      containers:
        - name: argocd-test2
          image: faizul56/argocd-app2:df29247
          ports:
            - containerPort: 3003
